server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    # H2 em arquivo local (persistente) na pasta ./data
    url: jdbc:h2:file:./data/dev-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      "[hibernate.format_sql]": true
  h2:
    console:
      enabled: true
      path: /h2-console
  flyway:
    enabled: false
    locations: classpath:db/migration

app:
  seed:
    enabled: false

logging:
  level:
    root: INFO
    "[org.springframework.web]": INFO